.heading {
   position: relative;
   text-align: center;
   font-family: 'Satisfy', cursive;
   height: 7vh;
   font-size: 1.7rem;
}

.icon{
    height: 6rem;
    
}
.icons{
    height: 18vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media {   
    display: flex; 
    justify-content: center;
    flex-direction: row;
    height: 85vh;
    background-color: #8b7e28;
    justify-content: space-around;
    align-items: center;
}

.media > div {
    margin: 30px;
    padding: 30px;
    
}

@media screen and (max-width:900px) {
    .media {
        flex-direction: column;
        height: 130vh;
    }
    .instagram-media {
        height: 38.5rem;
        width: auto;
    }

}
