.heading {
   text-align: center;
   font-family: 'Satisfy', cursive;
   height: 7vh;
   font-size: 1.7rem;
}
.icon{
    height: 6rem;
    
}
.icons{
    height: 18vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}