.heading {
   position: relative;
   text-align: center;
   font-family: 'Satisfy', cursive;
   height: 10vh;
   font-size: 1.7rem;    
   background: #a59844;
}


.heading p {
    padding-top: 30px;
    margin-top: 0;
}
.icon{
    height: 6rem;
    
}
.icons{
    height: 18vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media {   
    position: relative;
    display: flex; 
    justify-content: center;
    flex-direction: row;
    background-color: #a59844;
    align-items: center;
    justify-content: space-around;
}

.media > div {
    margin: 30px;
    padding: 30px;
    
}

@media screen and (max-width:905px) {
    .media {
        flex-direction: column;
    }
    .fb-post fb_iframe_widget {
        height: 7rem;
        width: auto;
    }

}

@media screen and (min-width:1200px) {
    .heading {
        font-size: 2.5rem;
    }
}