.crawler {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    width: 100%;
    height: 4vh;
    overflow: hidden;
    animation: crawler linear 30s infinite;
    white-space: nowrap;
    color: white;
    background-color: black;
    }