.events {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
}

div.announce-block-one {
    background-color: white;
}

div.announce-block-two {
    background-color: white;
}
div.announce-block-three {
    background-color: white;
}
.event-heading {
    color: white;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.news-heading {
    margin-top: 80px;
    color: white;
    position: relative;
    display: flex;
    width: 50%;
    justify-content: center;
}

.announce-heading {
    color: white;
    position: relative;
    display: flex;
    width: 50%;
    justify-content: center;
}

.event-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.link {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.announce-blocks {
    align-items: center;
}

.announce-block-one, .announce-block-two, .announce-block-three {
    width: 280px;
    
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #a59844;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 5px;
    margin-right: 5px;
    font-size: 15px;
  }

  .fa-angle-right {
      font-size: 20px;
      margin-left: 10px;
  }

@media screen and (max-width:1278px) {
    .events {
        height: auto;
    }
    .event-content {
        flex-direction: column;
    }
    .news-heading  {
        font-size: 0.8rem;
    }
    .announce-heading  {
        font-size: 0.8rem;
    }
    .announce-blocks {
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:544px) {
    .dot {
        margin-right: 10px;
    }
    .word {
        font-size: small;
    }
    h1 {
        font-size: 30px;
    }
}