.footer {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #a59844;
    height: 45vh;
    width: 100%;
}

.footer-heading {
    font-size: 4vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-icons {
    position: relative;
    display: flex;
    width: 50%;
    justify-content: space-around;

}

.icons {
    height: 15vh;
    width: auto;
    border-radius: 25px;
}

.visit {
    text-align: center;
    font-size: 13px;
}

.disclaimer {
    text-align: center;
    font-size: 1.5vh;
}