.mission {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 150px;
    padding-left: 80px;
    background: black;
    text-align: left;
    color: #FFF;
    font-size: 90px;
    line-height: 0px;


}

.shadow {
        text-shadow: 5px 10px #8b7e28;
}

.text {
    list-style: none;
    line-height: 70px;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin: 100px;
}