/* News */

.news-blocks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.column {
    font-size: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.news-column {
    position: relative;
    display: flex;
    flex-direction: column;
}
.news-heading {
    font-size: 2rem;
}
/* Specific News Blocks */

.news-block-one {

    position: relative;
    display: flex;
    justify-content: center;
    border-width:2px;
    border-style:solid;
    border-color:black;
    background-color: #a59844;
    margin: 1rem;
    padding: 1rem;
}
.news-block-two {
    position: relative;
    display: flex;
    justify-content: center;
    border-width:2px;
    border-style:solid;
    border-color:black;
    background-color: #a59844;
    margin: 1rem;
    padding: 1rem;
}
.news-block-three {
    position: relative;
    display: flex;
    justify-content: center;
    border-width:2px;
    border-style:solid;
    border-color:black;
    background-color: #a59844;
    margin: 1rem;
    padding: 1rem;
}
.news-block-four {
    position: relative;
    display: flex;
    justify-content: center;
    border-width:2px;
    border-style:solid;
    border-color:black;
    background-color: #a59844;
    margin: 1rem;
    padding: 1rem;
}

