@import "./_background.scss";
@import "./_variables.scss";
@import "./_calendar.scss";
@import "./_connect.scss";
@import "./_crawler.scss";
@import "./_footer.scss";

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
  }
body{
  margin: 0rem;  
  background-color: white;
}
