@import "./_background.scss";
@import "./_variables.scss";
@import "./_calendar.scss";
@import "./_connect.scss";
@import "./_crawler.scss";
@import "./_style.scss";
@import "./_slideshow.scss";
@import "./_navbar.scss";

body {
    font-size: 62.5%;
    line-height: 32px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hide;
}

