@import "./_background.scss";
@import "./_variables.scss";
@import "./_calendar.scss";
@import "./_connect.scss";
@import "./_crawler.scss";
@import "./_style.scss";
@import "./_slideshow.scss";
@import "./_navbar.scss";
@import "./_mission.scss";
@import "./_footer.scss";
@import "./_events.scss";
@import "./_news.scss";
@import "./_announcements.scss";

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    line-height: 32px;
    box-sizing: border-box;
    overflow: hide;
}
